body,ul,dl{
    margin: 0;
    padding: 0;
    list-style: none;
	box-sizing: border-box;
} 
a{
    text-decoration: none;
}



             /*top开始*/
.top{
	height: 120px;
	width: 100%;
}
.top a{
	display: block;
	height: 120px;
	overflow: hidden;
	position: relative;
}
.top img{
	position: absolute;
	left: 50%;
    margin-left: -1280px;
}

             /*top结束*/

             /*next开始*/

.next{
    height: 40px;
    background: #333333;
    border: 1px solid #333333 ;
}
.next .con{
	height: 40px;
	margin: 0 auto;
	width: 1226px;
}
.next .con .left{
	float: left;
}
.next .con li{
	height:40px;
	line-height: 40px;
	color: #b0b0b0;
	float: left;
}
.next .con li a{
	display: block;
	float: left;
	font-size: 12px;
	line-height: 40px;
	color: #b0b0b0;
	margin-right: 9px;
	margin-left:9px;
	text-align: center;
}
.next .con li a:hover{
    color: white;
}
.next .con .right{
	float: right;
}
.next .con .right .kuai:hover{
    color: #FF6700;
    background: white;
}
           /*next结束*/

            /*then 开始*/
.then{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.then ul{
	width: 1226px;
}
.then ul li{
	height: 100px;
	float: left;
}
.then ul li a{
	display: block;
	float: left;
	margin-left: 9px;
	margin-right: 10px;
	line-height: 100px;
	color: #8C3333;
}
.then ul li a:hover{
	color: #FF6700;
}
.then .first{
	margin-top: 22px;
}
.then .second{
	margin-top:16px;
}
.then .three{
	line-height: 100px;
	font-size: 16px;
	color: #33336C;
}
.then .three:hover{
	color:#FF6700; 
}
.then .search{
	width: 245px;
	height: 50px;
	margin-top: 25px;
	border: 1px solid #EDEDED;
	font-size: 12px;
	float: right;
}
.then .right a{
	display: block;
    font-size: 12px;
    height: 20px;
    color: #9A759A;
    position: absolute;
    background: #EEEEEE;
    float: left;
}
.then .right a:hover{
	color: white;
	background:#FF6700; 
}
.then .right .left1{
	left: 110px;
	float: left;
	font-size: 12px;
	top: 40px;
	line-height: 20px;
}
.then .right .left2{
	left: 180px;
	float: left;
	font-size: 12px;
	top: 40px;
	line-height: 20px;
}
.then .submit{
	width: 52px;
	height: 50px;
	margin-top: 25px;
	border: 1px solid #EDEDED;
    border-left: 0;
    margin-right: 0;
    float: right;
}
.then .right{
	float: right;
    position: relative;
}


           /*then 结束*/

           /*lun开始*/

.lun{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
}
.lun .left{
	width: 234px;
	height: 460px;
	background: rgba(149,149,149,0.5);
	float: left;
}
.lun .left .left1{
	height:420px;
	width: 100%;
	margin-top: 20px;

	float: left;
}
.lun .left .left1 li{
	height: 42px;
	width: 100%;
}
.lun .left .left1 li span{
	display: block;
	margin-left: 20px;
}
.lun .left .left1 li:hover{
	background: #FF6700;
}
.lun .left .left1 li a{
	display: block;
	line-height: 42px;
	font-size: 14px;
	color: white;
}
.lun .left .left1 li a span{
	float: left;
}
/*.lun .left .left1 li a img{*/
	/*float: right;*/
	/*margin-top: 14px;*/
	/*width: 16px;*/
	/*height: 16px;*/
/*}*/
.lun .tu{
	float: right;
	width: 992px;
	height: 460px;
	position: relative;
}
.lun .tu .da{
	width: 992px;
	height: 460px;
	position: relative;
}
.lun .tu .da .banner{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s;
}
.lun .tu .da .active{
	opacity: 1;
}
.lun .tu .xiao{
	width: 100px;
	height: 10px;
	position: absolute;
	left: 80%;
	top: 90%;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}
.lun .tu .xiao .dian{
	width:10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(169,169,169,0.5);
}
.lun .tu .xiao .active{
	background: #FF6700;
	z-index: 1;
}
.lun .tu a{
	display: block;
}
.lun .tu img{
	float: right;
	width: 992px;
	height: 460px;
}
.lun .jian1{
	width: 28px;
	height: 60px;
	left: 0;
	top: 50%;
	margin: -30px 0;
	background: url("../img/jian.png");
	position: absolute;

}
.lun .jian2{
	width: 28px;
	height: 60px;
	top: 50%;
	margin: -30px 0;
	background: url("../img/jian.png") 100% 0;
	right: 0;
	position: absolute;
}

           /*lun结束*/
           /*shang开始*/

.shang{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
}
.shang .first{
	width: 234px;
	height: 170px;
	float: left;
	margin-right: 7px;
	background: #5F5750;
}
.shang .first .con{
    width: 228px;
    height: 166px;
    margin-top: 2px;
    margin-left: 2px;
}
.shang .first .con .top1{
	width: 228px;
	height: 82px;
}
.shang .first .con .top1 li{
	width: 74px;
	height: 82px;
    border: 1px solid #665E57;
    float: left;
}
.shang .first .con .top1 li a{
	display: block;
}
.shang .first .con .top1 li a img{
	width: 70px;
	height: 24px;
	margin-left: 2px;
	margin-top: 18px;
}
.shang .first .con .top1 li a span{
	font-size: 12px;
	color: #CDCAC8;
	margin-left: 16px;
	margin-top: 2px;
}
.shang .first .con .top1 li a span:hover{
	color: #F8F8F8;
}
.shang .right{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 6px;
	margin-right: 8px;
}
.shang .last{
	width: 316px;
	height: 170px;
	float: right;
	margin-left: 6px;
}
.shang .right a{
	display: block;
}
.shang .right img{
	width: 316px;
	height: 170px;
}
.shang .last a{
	display: block;
}
.shang .last img{
	width: 316px;
	height: 170px;
}

          /*shang结束*/

          /*title开始*/
.title{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	margin-top: 15px;
}
.title .a{
	font-size:22px;
	color: #333333;
	line-height: 58px;
	font-family: "Helvetica Neue";
	margin-top: 0; 
}
.title a{
	display: block;
	float: right;
}
.body .next{
	width:36px;
	height: 24px;
	position: absolute;
	top: -30px;
	left: 80%;
	background: red;
}

         /*title结束*/

         /*body开始*/

.body{
	width: 1226px;
	height: 340px;
	margin-left: 61px;
	overflow: hidden;
	position: relative;
}
.body .next{
	width:36px;
	height: 24px;
	position: absolute;
    top: 16px;
	left: 97%;
	background: url(../img/icon-slides.png) 32% 50%;
	margin: 0 -2px;
	border: 1px solid white;
}
.body .pro{
	width:36px;
	height: 24px;
	position: absolute;
	top: 16px;
	left: 93%;
	background:  url(../img/icon-slides.png) 0 50% ;
	margin: 0 -2px;
}
.body .con{
	width: 2480px;
	height: 340px;
	margin-top: 40px;
	margin-bottom: 40px;
	transition: all 2s;
}
.body .con .box{
	width: 234px;
	height: 340px;
	margin-right: 14px;
	float: left;
	background: #FAFAFA;
}
.body .con .none{
	width: 234px;
	height: 340px;
	margin-right: 14px;
	float: left;
	background: #FAFAFA;
}

.body .con li .center{
	width: 232px;
	height: 278px;
}
.body .con li .center .topn{
	width: 162px;
	height: 162px;
	margin-left: 36px;
	display: block;
	margin-top: 10px;
}
.body .con li .center .topn a{
   display: block;
}
.body .con li .center .second2 a{
   display: block;
}
.body .con li .center .topn a img{
	width: 160px;
	height: 160px;

}
.body .con li .center .second2{
	width: 162px;
	height: 23px;
	margin-left: 36px;
	display: block;
}
.body .con li .center .second2 a h3{
	height: 23px;
	display: block;
	font-size: 14px;
	margin-top: 0;
	line-height: 23px;
	margin-left: 45px;
	margin-top: 5px;
}
.body .con li .center .three3 h3{
	font-size: 12px;
	color: #b0b0b0;
	height: 18px;
	display: block;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
}
.body .con li .center .last4 h3{
	font-size: 21px;
	color: #ff6709;
	height: 21px;
	display: block;
	line-height: 21px;
	text-align: center;
	margin-top: 20px;
}


         /*body结束*/


         /*mai开始*/

.mai{
	height: 733px;
	background:#F5F5F5;
	margin-top: 40px;
	border: 1px solid #F5F5F5;
}
.mai .mi{
	width: 1226px;
	height: 58px;
	margin: 65px auto;
	margin-bottom: 0;
}
.mai .mi h2{
	float: left;
}
.mai .mi .jia{
	height: 26px;
	float: right; 
	margin-top: 16px;
}
.mai .mi .jia li{
	float: right;
	margin-left: 15px;
}
.mai .mi .jia li a{
	display: block;
	line-height: 26px;
	color: #424242;
	font-size: 16px;
}
.mai .mi .jia li a:hover{
	color: #ff6700;
	text-decoration: underline;
}
.mai .conn{
	width: 1230px;
    height: 616px;
    margin: 0 auto;
}
.mai .conn .left{
	width: 234px;
    height: 614px;
    float: left;
    margin-left:-50px;
	transition: all 1s;
}
.mai .conn .left:hover{
	margin-top: -5px;
	box-shadow: 5px  5px  5px #E6E5E1;
}
.mai .conn .right{
	width: 990px;
	height: 614px;
	float: right;
}
.mai .conn .right .topp{
	width: 988px;
	height: 300px;
}
.mai .conn .right .topp .box{
	float: left;
	margin-left:12px;
	transition: all 1s;
	position: relative;
	overflow: hidden;
}
.mai .conn .right .topp .box .pos{
	width: 100%;
	height: 80px;
	background: #ff6700;
	transition: all 1s;
	position: absolute;
	bottom: -82px;
	left: 0;
	border: 1px solid #ff6700;
}
.mai .conn .right .topp .box .pos>span:first-child{
	margin-left: 20px;
	line-height: 20px;
	display: block;
	margin-top: 20px;
	font-size: 14px;
	text-align: left;
	color: white;
}
.mai .conn .right .topp .box .pos>span:last-child{
	margin-left: 20px;
	line-height: 20px;
	display: block;
	margin-top: 5px;
	font-size: 12px;
	text-align: left;
	color: #a5a5a5;
}
.mai .conn .right .topp .box:hover  .pos{
	position: absolute;
	bottom: 0;
	left: 0;
}
.mai .conn .right .topp .box:hover{
	margin-top: -5px;
	box-shadow: 5px  5px  5px #E6E5E1;
}
.mai .conn .right .topp .box .center{
	width: 232px;
	height: 278px;
	background: white;
}
.mai .conn .center .topn{
	width: 152px;
	height: 152px;
	margin-left: 36px;
	display: block;
	margin-top: 10px;
}
.mai .conn li .center .topn a{
   display: block;
}
.mai .conn li .center .second2 a{
   display: block;
}
.mai .conn li .center .topn a img{
	width: 150px;
	height: 150px;

}
.mai .conn li .center .second2{
	width: 152px;
	height: 23px;
	margin-left: 36px;
	display: block;
}
.mai .conn li .center .second2 a h3{
	height: 23px;
	display: block;
	font-size: 14px;
	margin-top: 0;
	line-height: 23px;
	margin-left: 45px;
	margin-top: 5px;
}
.mai .conn li .center .three3 h3{
	font-size: 12px;
	color: #b0b0b0;
	height: 18px;
	display: block;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
}
.mai .conn li .center .last4 h3{
	font-size: 21px;
	color: #ff6709;
	height: 21px;
	display: block;
	line-height: 21px;
	text-align: center;
	margin-top: 20px;
}
.mai .conn .right .topp .box .under{
	width: 234px;
	height: 278px;

}
.mai .conn .right .topp .box .under .shang1{
	width: 234px;
	height: 120px;
	background: white;
	border: 1px solid white;
	margin-top: 10px;
}
.mai .conn .right .topp .box .under .shang1 .coon{
	width: 234px;
	height: 80px;
	margin-top: 25px;
}
.mai .conn .right .topp .box .under .shang1 .maii{
	display: block;
	float: right;
}
.mai .conn .right .topp .box .under .shang1 .maii .xiaoo{
	float: right;
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.mai .conn .right .topp .box .under .shang1 .maii .o{
	float: right;
	height: 21px;
	width: 94px;
	line-height: 21px;
	color: #4F4F4F;
	margin-top: 10px;
}
.mai .conn .right .topp .box .under .shang1 .oo{
	float: right;
	height: 21px;
	width: 94px;
	line-height: 21px;
	color: #FF6700;
}



         /*mai结束*/

         /*zhi开始*/

#off{
	margin-top: 0;
}
.mai .conn .leftg{
	width: 234px;
    height: 614px;
    float: left;
    margin-left:-50px;

}
.mai .conn .rightg{
	width: 1226px;
	height: 614px;
	float: right;
}
.mai .conn .rightg .topp{
	width: 1226px;
	height: 300px;
}
#boxxx{
	margin-left:12px;
	transition: all 1s;
}
.mai .conn .rightg .topp .box{
	float: left;
	margin-left:12px; 
	background: white;
	position: relative;
	overflow: hidden;
}

 #boxx{
 	width: 234px;
 	height:278px;
 	float: left;
 }


.mai .conn .rightg .center{
	width: 232px;
	height: 278px;
}
.mai .conn .rightg .topp .box .pos{
	width: 100%;
	height: 80px;
	background: #ff6700;
	transition: all 1s;
	position: absolute;
	bottom: -82px;
	left: 0;
	border: 1px solid #ff6700;
}
.mai .conn .rightg .topp .box .pos>span:first-child{
	margin-left: 20px;
	line-height: 20px;
	display: block;
	margin-top: 20px;
	font-size: 14px;
	text-align: left;
	color: white;
}
.mai .conn .rightg .topp .box .pos>span:last-child{
	margin-left: 20px;
	line-height: 20px;
	display: block;
	margin-top: 5px;
	font-size: 12px;
	text-align: left;
	color: #a5a5a5;
}
.mai .conn .rightg .topp .box:hover  .pos{
	position: absolute;
	bottom: 0;
	left: 0;
}
.mai .conn .rightg .topp .box:hover{
	margin-top: -5px;
	box-shadow: 5px  5px  5px #E6E5E1;
}
.mai .conn .center .topn{
	width: 152px;
	height: 152px;
	margin-left: 36px;
	display: block;
	margin-top: 10px;
}
.mai .conn li .center .topn a{
   display: block;
}
.mai .conn li .center .second2 a{
   display: block;
}
.mai .conn li .center .topn a img{
	width: 150px;
	height: 150px;

}
.mai .conn li .center .second2{
	width: 152px;
	height: 23px;
	margin-left: 36px;
	display: block;
}
.mai .conn li .center .second2 a h3{
	height: 23px;
	display: block;
	font-size: 14px;
	margin-top: 0;
	line-height: 23px;
	margin-left: 45px;
	margin-top: 5px;
}
.mai .conn li .center .three3 h3{
	font-size: 12px;
	color: #b0b0b0;
	height: 18px;
	display: block;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
}
.mai .conn li .center .last4 h3{
	font-size: 21px;
	color: #ff6709;
	height: 21px;
	display: block;
	line-height: 21px;
	text-align: center;
	margin-top: 20px;
}
.mai .conn .rightg .topp .box .under{
	width: 234px;
	height: 278px;

}
.mai .conn .rightg .topp .box .under .shang1{
	width: 234px;
	height: 120px;
	background: white;
	border: 1px solid white;
	margin-top: 10px;
}
.mai .conn .rightg .topp .box .under .shang1 .coon{
	width: 234px;
	height: 80px;
	margin-top: 25px;
}
.mai .conn .rightg .topp .box .under .shang1 .maii{
	display: block;
	float: right;
}
.mai .conn .rightg .topp .box .under .shang1 .maii .xiaoo{
	float: right;
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.mai .conn .rightg .topp .box .under .shang1 .maii .o{
	float: right;
	height: 21px;
	width: 94px;
	line-height: 21px;
	color: #4F4F4F;
	margin-top: 10px;
}
.mai .conn .rightg .topp .box .under .shang1 .oo{
	float: right;
	height: 21px;
	width: 94px;
	line-height: 21px;
	color: #FF6700;
}
                                      /*内容开始*/
.neirong .top{
	width: 1226px;
	height: 56px;
	line-height: 56px;
	font-size: 20px;
	margin: 0 auto;
	font-weight: 500;
}
.neirong .home{
	height:420px;
	width: 1226px;
	margin: 0 auto;
}
.neirong .home .one{
	width:296px;
	height:420px;
	/*overflow: hidden;*/
	position: relative;
	float: left;
	margin-right: 4px;
	overflow: hidden;
	float: left;
	transition: all 1s;
}
.neirong .home .one:hover{
	box-shadow: 2px 2px 2px  2px #b0b0b0;
	margin-top: -2px;
}
.neirong .home .one .banner{
	width: 888px;
	height: 420px;
	transition: all 1s;
}
.neirong .home .one .banner .item7{
	width: 296px;
	height: 420px;
	float: left;
}
.neirong .home .one .yuan{
	width: 60px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 95%;
	margin: 0 -30px;
	z-index: 999;
	display: flex;
	justify-content: space-between;
}
.neirong .home .one .yuan .active{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(149,149,149,0.5);
}
.neirong .home .one .yuan .act{
	background: #FF6700;
	z-index: 2;
}
.neirong .home .one.jian1{
	width: 16px;
	height: 20px;
	left: 0;
	top: 50%;
	margin-top: -10px;
	background: url("../img/icon-slides.png");
	position: absolute;
	opacity: 0;
}
.neirong .home .one.jian2{
	width: 16px;
	height: 20px;
	right: 0;
	top: 50%;
	margin: -10px;
	background: url("../img/20.png");
	position: absolute;
	opacity: 0;
}
 .neirong .home .item7{
	 float: left;
	width:296px;
	height:420px;
	background: #fff;
	border-top:1px solid #FFAC13;
	color:#FFAC13;
	 transition: all 2s;
}
/*.neirong .home .one .banner .active{*/
	/*opacity: 1;*/
/*}*/
 .neirong .home .item7 h3{
	font-size:16px;
	font-weight: 500;
	text-align: center;
	margin:48px 0 20px 0;
}
.neirong .home .item7 a h2{
	font-size:20px;
	font-weight: 500;
	color:#474747;
	text-align: center;
}
.neirong .home .item7 a p{
	font-size:10px;
	color:#B2B2B2;
	text-align: center;
	margin:5px 50px;
	line-height: 20px;
}
.neirong .home .item7 a h4{
	font-size:14px;
	color:#333333;
	text-align: center;
	font-weight: 400;
	margin:15px 0 20px 0;
}
 .neirong .home .item7 a img{
	margin-left: 40px;
	 width: 216px;
	 height: 154px;
}
 .neirong .home .item7:nth-child(2){
	border-top:1px solid #96CC6A;
	color:#96CC6A;
}
 .neirong .home .item7:nth-child(3){
	border-top:1px solid #E53935;
	color:#E53935;
}
 .neirong .home .item7:last-child {
	margin-right: 0;
	border-top: 1px solid #2196F3;
	color: #2196F3;
}
 .neirong .home .item7 a img{
	width:216px;
	height:154px;
}
 .neirong .home .item7 ul{
	overflow: hidden;
	position: absolute;
	left:50%;
	z-index: 666;
	margin-left: -40px;
	bottom: 30px;
}
 .neirong .home .item7 ul li{
	width:6px;
	height:6px;
	background: #B0B0B0;
	border-radius: 50%;
	float: left;
	margin-left: 30px;
}
 .neirong .home .item7 ul li:first-child{
	margin-left: 0;
}




             

                  /* under开始 */
.under{
	width: 100%;
	height: 274px;
	background:white;
}
.under .ccon{
	width: 1226px;
	height: 272px;
	margin: 0 auto;
}
.under .ccon .ttop{
	width: 1226px;
	height: 80px;
}
.under .ccon .ttop ul{
	width: 1226px;
	height: 80px;
}
.under .ccon .uunder{
	width: 1226px;
	height: 190px;
}
.under .ccon .ttop .nn{
	float: left;
	width: 242px;
	height: 25px;
	margin-top: 27px;
	margin-left: 3px;
}
.under .ccon .ttop .nn .y{
	display: block;
	float: left;
	text-align: center;
	line-height: 25px;
	color: #926179;
	width: 126px;
	margin-left: 59px;
}
.under .ccon .ttop .nn .y span{
	text-align: center;
}
.under .ccon .ttop .nn .leeft{
	display: block;
	float: right;
	color: #E0E0E0;
	line-height: 25px;
	margin-left: 2px;
}

.under .ccon .uunder .rright{
	width: 252px;
	height: 112px;
	border-left: 1px solid #E0E0E0;
	float: right;
	margin-top: 39px;
}
.under .ccon .uunder .lleft{
	width: 960px;
	height: 112px;
	float: left;
	margin-top: 39px;
}
.under .ccon .uunder .lleft .ddl{
	width: 158px;
	height: 112px;
	float: left;
}
.under .ccon .uunder .lleft .ddt{
	width: 158px;
	height: 17px;
	float: left;
	line-height: 17px;
	color: #424242;
	font-size: 14px;
	margin-bottom: 20px;
}

.under .ccon .uunder .lleft .ddd{
	width: 158px;
	height: 18px;
	float: left;
	line-height: 18px;
	
	font-size: 12px;
}
.under .ccon .uunder .lleft .ddl .ddd a{
	color: #757575; 
}
.under .ccon .uunder .rright .p{
	width: 251px;
	height: 22px;
	text-align: center;
	color: #ff6700;
	font-size: 22px;
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 10px;
}
.under .ccon .uunder .rright .pp{
	width: 251px;
	height: 18px;
	text-align: center;
	color: #616161;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
.under .ccon .uunder .rright .aaa{
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	line-height: 30px;
	margin: 0;
	display: block;
	margin: 15px 65px;
}



                    /* under结束 */


                    /* last开始 */
.last{

	height: 166px;
}
.last .nei{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
	margin-top: 25px;
}
.last .nei .lefft{
	width:57px;
	height: 57px;
	float: left; 
}
.last .nei .ceenter{
	width: 749px;
	height: 57px;
	float: left;
}
.last .nei .ceenter .toopp{
	width: 749px;
	height: 16px;
	margin-bottom: 2px;
}
.last .nei .ceenter .zi{
	width: 749px;
	height: 16px;
	margin-bottom: 2px;
}
.last .nei .ceenter .zui{
	width: 749px;
	height: 16px;
}
.last .nei .ceenter .toopp .mei{
	display: block;
	float: left;
}
.last .nei .ceenter .mei a{
	display: block;
	float: left;
	line-height: 18px;
	color: #9E759E;
	font-size: 12px;
	margin-right: 3px;
}
.last .nei .ceenter span{
	float: left;
	line-height: 18px;
	color: #9E759E;
	font-size: 12px;
	display: block;
	margin-right: 2px;
}
.last .nei .ceenter .zi .mei{
	display: block;
	float: left;
}
.last .nei .rigghtt{
	width: 415px;
	height: 57px;
	float: left;
}
.last .nei .rigghtt .ke{
	float: left;
	width: 85px;
	height: 57px;
}
.last .nei .rigghtt .ke a{
	float: left;
	width: 85px;
	height: 28px;
	display: block;
	margin-top: 15px;
}
.last .nei .rigghtt .ke a img{
	float: left;
	width: 85px;
	height: 28px;
	display: block;
}
.last .non{

	height: 19px;
	line-height: 19px;
	font-size: 21px;
	text-align: center;
	color: #333;
    margin-top:80px;
}









