html,body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    text-align: center;
}
.first{
    position: relative;
    font-size: 36px;
    text-align: center;
    color: white;
}
.menu{
    width: 100%;
    height: 100px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo{
    width: 200px;
    height: 40px;
    margin: 30px 70px;
    float: left;
}
.menu ul{
    /*float: right;*/
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 0;
}
.menu ul li{
    float: left;
    height: 100%;
    font-size: 16px;
}
.menu ul li a{
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
}
.box1{
    width:600px;
    height:200px;
    /*background:red;*/
    position:absolute;
    top:50%;
    margin-top:-100px;
    left:450px;
    display:none;
    z-index: 120;
    font-size: 24px;
}
.box2{
    width:400px;
    height:200px;
    /*background:red;*/
    position:absolute;
    right:570px;
    display:none;
    top:50%;
    margin-top:-100px;
    z-index: 120;
    font-size: 24px;
}
.box3{
    width:600px;
    height:200px;
    /*background:red;*/
    position:absolute;
    right:0;
    left: 0;
    display:none;
    top:50%;
    margin: auto;
    z-index: 120;
}
.box4{
    width:200px;
    height:40px;
    line-height: 40px;
    border-radius: 30px;
    text-align: center;
    background: #1f3755;
    position:absolute;
    right:0;
    left: 0;
    top:85%;
    font-size: 24px;
    margin: auto;
    z-index: 300;
    color: white;
}
@keyframes leftIn {
    0%{
        transform: translate3d(-1100px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
.leftIn{
    animation: leftIn 1s ease-in;
    display:block;
}
@keyframes rightIn{
    0%{
        transform: translate3d(900px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
.rightIn{
    animation: rightIn 1s ease-in;
    display:block;
}
@keyframes leftOut{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-1100px,0,0);
    }
}
.leftOut{
    animation: leftOut .3s ease-in forwards;
    display:block;
}
@keyframes reftOut{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(1100px,0,0);
    }
}
.reftOut{
    animation: reftOut .3s ease-in forwards;
    display:block;
}
@keyframes upIn {
    0%{
        transform: translate3d(0,1000px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
.upIn{
    animation: upIn 1s ease-in;
    display:block;
}
@keyframes upOut{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,-1000px,0);
    }
}
.upOut{
    animation: upOut .3s ease-in forwards;
    display:block;
}
.num1{
    background: url(../img/2.jpg);
    background-size: cover;
}
.num2{
    background: url(../img/3.jpg);
    background-size: cover;
}
.second{
    position: relative;
    background: #FFFFFF;
}
.box5{
    width: 230px;
    height: 400px;
    position: absolute;
    left: 70px;
    top: 0;
    background: white;
    border: 1px solid #ccc;
}
.box6{
    width: 100%;
    height: 180px;
    background: #EB4346;
    line-height: 180px;
    text-align: center;
    font-size: 24px;
    color: white;
}
.box7{
    width: 100%;
    height: 220px;
}
.box7 ul{
    height: 220px;
    /*margin-left: 10px;*/
    width: 100%;
}
.box7 ul li{
    line-height: 36px;
    height: 36px;
    /*border-bottom: 1px solid #ccc;*/
    width: 230px;
    text-align: left;
    color: #97aaa7;
}
.box7 ul li span{
    display: block;
    width: 210px;
    height: 100%;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
}
.box7 ul >li:last-child span{
    border-bottom: 0;
}
.act{
    background: #252E35;
    color: white;
}
.box8{
    width: 870px;
    height: auto;
    margin-left: 400px;
    /*background: red;*/
    margin-top: -330px;
    position: relative;
}
.box9{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.box9 ul{
    width: 280px;
    height: 100%;
    line-height: 50px;
    color: #ccc;
    float: left;
}
.box9 ul li{
    float: left;
    margin-right: 8px;
    /*border: 1px solid white;*/
}
.box9 ul li img{
    margin-top: 10px;
}
.box9 ul>li:last-child{
    margin-right: 0;
}
.box9 ul li a{
    color: #ccc;
    font-size: 14px;
}
.box8>img{
    position: absolute;
    top: 90px;
    left: 0;
}
.box10{
    position: absolute;
    left: 0;
    top: 90px;
    font-size: 16px;
    font-family: "gubblebum-blocky", monospace;
    font-weight: 500;
    text-align: left;
    /*background: red;*/
    /*height: 200px;*/
    width: 100%;
}

.box12{
    width: 100%;
    height: 270px;
}
.box13{
    margin-top: 80px;
    width: 100%;
    height: 70px;
}
.box13 ul{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.box13 ul li{
    width: 32%;
    height: 100%;
    line-height: 70px;
}
.box13 ul li img{
    margin-top: 10px;
    float: left;
}
.box13 ul li span{
    display: block;
    font-size: 12px;
    margin-left: 5px;
    float: left;
}
.box11{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    line-height: 30px;
    margin-top: 10px;
    float: right;
    margin-right: 50px;
}
.box19{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #080808;
}
.list{
    width: 1000px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    margin: 30px 170px;
    line-height: 30px;
}
.list li{
    width: 120px;
    background: #080808;
}
.box20{
    width: 300px;
    height: 140px;
    margin: 40px 70px;
    /*background: red;*/
    border-right: 1px solid #56000a;
    float: left;
}
.box20 img{
    float: left;
    width: 60px;
    height: 60px;
    margin: 30px 40px;
    float: left;
}
.box21{
    float: left;
    margin-top:50px;
}
.box21 span{
    display: block;
    font-size: 16px;
    color: white;
}
.box21>span:last-child{
    font-size: 20px;
    color: #EB4346;
}
.box22{
    float: left;
    width: 600px;
    height: 140px;
    border-right: 1px solid #56000a;
    margin-top: 40px;
    margin-left: -30px;
}
.box22 span{
    font-size: 12px;
    color: white;
    display: block;
    line-height: 40px;
}
.box23{
    float: left;
    height: 140px;
}
.box23 .box24{
    float: left;
    width: 100px;
    height: 100%;
    margin-top: 40px;
}
.box23 .box24 span{
    color: white;
    display: block;
    font-size: 12px;
    line-height: 30px;
}
.box25{
    margin: 40px 20px;
    float: left;
}
.box25 img{
    width: 100px;
}