*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.14rem;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background:url("../img/1.jpg");
    background-size: cover;
}
.box{
    width: 5rem;
    height: 3rem;
    /*background: #ccc;*/
    margin: 0.25rem auto;
    border-radius: 0.15rem;
    user-select: none;
}
.left{
    height: 1.5rem;
    width: 100%;
    background:url("../img/3.jpg");
    background-size: cover;
    border-radius: 0.15rem;
}
.left .kuai{
    width: 80%;
    height: 0.25rem;
    border-radius: 0.05rem;
    margin: 0.30rem auto;
    line-height: 0.25rem;
    text-align: center;
}
#xuan{
    /*background: #CD1BE8;*/
    /*color: white;*/
}
.right{
    height: 3.5rem;
    width: 100%;
    float: left;
    background: url(../img/2.jpg);
    background-size: cover;
    border-radius: 0.15rem;
    position: relative;
}
.right .tian{
    width: 80%;
    height: 2.5rem;
    position: absolute;
    background:url("../img/4.jpg") center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.05rem;
    /*border: 1px solid #A7FFD5;*/
}
.right .tian h3{
    font-size: 12px;
    color: #1B1D32;
    margin: 0.25rem auto;
    text-align: center;
}
.guang{
    width: 0.25rem;
    height: 0.25rem;
    /*background: red;*/
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.15rem 0.15rem;
    color: white;
    line-height: 0.25rem;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}
#text{
    width: 80%;
    height: 50%;
    border-radius: 0.10rem;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    background:url("../img/5.jpg") center;
    background-size: cover;
}
#submit{
    width: 0.40rem;
    height: 0.15rem;
    background:url("../img/6.jpg") center;
    background-size: cover;
    border-radius: 5px;
    float: right;
    display: block;
    margin-top: 0.1rem;
    margin-right: 0.25rem;
    color: #696969;
    font-size: 14px;
}
.yi{
    width: 80%;
    height: 2.5rem;
    position: absolute;
    background:url("../img/4.jpg") center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    /*border: 1px solid #A7FFD5;*/
    display: none;
}
.wei{
    width: 80%;
    height: 2.5rem;
    position: absolute;
    background:url("../img/4.jpg") center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    /*border: 1px solid #A7FFD5;*/
    /*overflow: hidden;*/
    display: none;
}
.wei h3{
    font-size: 16px;
    color: #1B1D32;
    margin: 0.25rem auto;
    text-align: center;
}
.yi h3{
    font-size: 16px;
    color: #1B1D32;
    margin: 0.25rem auto;
    text-align: center;
}
.xiao{
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
}
.num{
    width: 80%;
    height: 0.25rem;

    border-radius: 5px;
    margin: 0.05rem auto;
}
.check{
    width: 0.15rem;
    height: 0.15rem;
    margin-top: 0.05rem;
    float: left;
}
.num .yuan{
    width: 0.1rem;
    height: 0.1rem;
    background: rgba(192, 183, 85, 0.75);
    border-radius: 50%;
    margin: 0.075rem 0.025rem;
    float: left;
}
.num p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    float: left;
    width: 60%;
    height: 0.23rem;
    margin: 2px 5px;
    background: rgba(99, 68, 41, 0.23);
    border-radius: 0.05rem;
    line-height: 0.23rem;
    font-size: 14px;
    color: white;
}
.num time{
    font-size: 12px;
    color: black;
    line-height: 0.175rem;
    width: 0.35rem;
    display: block;
    float: right;
    margin-right: 2px;
    text-align: center;
}
.last{
    position: absolute;
    height: 0.2rem;
    width: 1.2rem;
    bottom: 0;
    right: 0;
}
#rem{
    width: 0.4rem;
    height: 0.15rem;
    border-radius: 0.05rem;
    background:url("../img/6.jpg") center;
    background-size: cover;
    color: #131425;
    font-size: 12px;
    line-height: 0.15rem;
    text-align: center;
    display: block;
    float: left;
}
#move{
    width: 0.45rem;
    height: 0.15rem;
    border-radius: 0.05rem;
    background:url("../img/6.jpg") center;
    background-size: cover;
    color: #131425;
    font-size: 12px;
    line-height: 0.15rem;
    text-align: center;
    display: block;
    float: right;
    margin-right: 0.15rem;
}
#rem1{
    width: 0.4rem;
    height: 0.15rem;
    border-radius: 0.05rem;
    background:url("../img/6.jpg") center;
    background-size: cover;
    color: #131425;
    font-size: 12px;
    line-height: 0.15rem;
    text-align: center;
    display: block;
    float: left;
}
#move1{
    width: 0.45rem;
    height: 0.15rem;
    border-radius: 0.05rem;
    background:url("../img/6.jpg") center;
    background-size: cover;
    color: #131425;
    font-size: 12px;
    line-height: 0.15rem;
    text-align: center;
    display: block;
    float: right;
    margin-right: 0.15rem;
}